
.grid-but{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}   

.licence{
    grid-column: 1;
    grid-row: 1;
}

.nom{
    grid-column: 2;
    grid-row: 1;
}

.lieu{
    grid-column: 3;
    grid-row: 1;
}

.logo{
    grid-column: 2 / 3;
    grid-row: 1;
}

.batiment{
    grid-column: 2/3;
    grid-row: 2/3;
}

#logo-iut{
    width: 10%;
    height: 5%;
}

#batiment-iut{
    width: 20%;
    height: 20%;
}