html{
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
}

header>div{
    background-color:grey;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#photo_de_profil{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

#texte_presentation{
    text-align: center;
    font-size:large;
    font-family: 'Arial';
    margin: 10px 100px 20px;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    animation: fadein 3s;
}

#center{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 5%;    
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header>div>a{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

header>div>a:hover{
    color: black;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo_linkedin{
    width: 50px;
    height: 50px;
}

footer>div>a{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}